:root{
    --bars: rgba(20, 70, 104, 0.801);
    --text: rgb(191, 197, 190);
}
h1,h2,h3,h4,h5,p,label{
    color: var(--text);
}

#root{
    background: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 22%;
    min-height: 100vh;
}
header{
    background-color: var(--bars);
    min-height: 5vh;
}
.title{
    margin-left: 1em;
    padding-top: 10px;
    color: var(--text);
}
.nav{
    align-items: center;
}
.nav-item{
    font-size: xx-large;
}
#about,#portfolio,#resume,#contact{
    color: var(--text);
}
#about:hover,#portfolio:hover,#resume:hover,#contact:hover{
    color: white;
}

.mainPage{
    min-height: 85vh;
}
.content{
    width: 70%;
    background-color: var(--bars);
    padding: 10px;
}

footer{
    width: 100%;
    min-height: 10vh;
    background-color: var(--bars);
}
.footerLink{
    margin: 0 2em;
    color: var(--text);
}
.footerLink:hover{
    color: white;
}